// Stilizzazione mmenu
.mm-menu{

  // Spaziatura per header (TODO: gestire altezza header)
  &.mm-menu_fullscreen{
    margin-top: 80px;
    @include breakpoint(medium){ margin-top: 130px; }
  }

  // Sfondo pannelli
  .mm-panel{ background: #DDD; }

  // Link di navigazione
  a, a:active, a:hover, a:link, a:visited{
    font-weight: bold;
    color: black;
    text-transform: uppercase;

    // Voci di menu "Navigazione principale"
    &.itm-menu-main{
      font-size: rem-calc(20);
      line-height: rem-calc(26);
    }

    // Voci di menu "Header top menu"
    &.itm-menu-header-top-menu{
      font-size: rem-calc(13);
      line-height: rem-calc(26);
    }

    // Speciale per voce di ricerca
    &.itm-menu-header-top-menu.search-link {
      /*@include icon("search", "before"){
        margin-right: 5px;
        font-size: 12px;
        line-height: rem-calc(26);
      }*/
    }
  }

  // Colore bordi
  .mm-listitem{ border-color: black; }

  // Freccia per livelli
  .mm-btn:after, .mm-btn:before{ border-color: green; }

  // Titolo principale e titolo per back
  .mm-navbar{
    background: #CCC;
    border-color: green;

    .mm-navbar__title{
      font-weight: bold;
      font-size: rem-calc(24);
      line-height: rem-calc(17);
      color: black;
      text-transform: uppercase;
    }
  }
  #mm-1 .mm-navbar{ display: none; }

  // Barra footer per il cambio lingua mobile
  .mm-navbars_bottom{ border-color: black; }
}