footer.pageFooter{
  position: relative;
  width: 100%;

  @include breakpoint(large){}

  @include breakpoint(medium down){}

  @include breakpoint(medium only){}

  @include breakpoint(small only){}
}
