header.pageHeader{
  position: relative; //fixed;
  width: 100%;
  z-index: 10;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  //height: 110px;
  background: transparent;
  transition: all .5s;


  // Logo del sito
  a.logo{
    display: inline-block;
    vertical-align: top;

    svg{
      display: inline-block;
      height: auto;
      vertical-align: top;
      transition: all .5s;
    }
  }

  // Per selettore lingua
  .block-language{
    display: inline-block;
    vertical-align: top;

    button.btn-primary{ display: none; }

    ul.dropdown-menu{
      width: auto;
      margin: 0;
      padding: 0;
      font-size: 0;

      li{
        position: relative;
        display: inline-block;
        padding: 0 ;
        vertical-align: top;
        list-style: none;

        &:after{
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          width: 2px;
          height: 12px;
          background: black;
          content: "";
          transform: translate(0,-50%);
        }

        &:first-of-type{ padding-left: 0; }
        &:last-of-type{
          padding-right: 0;
          &:after{ display: none; }
        }
      }

      a{
        font-weight: bold;
        font-size: rem-calc(13);
        line-height: rem-calc(40);
        color: black;
        text-transform: uppercase;

        &.is-active, &:hover{ text-decoration: underline; }
      }
    }
  }

  // Per menu
  .block-basic-main-menu{

    // Menu di primo livello
    ul.menu.dropdown.expanded{
      justify-content: space-between;

      > li{
        flex: 0 0 auto;

        > a{
          position: relative;
          display: inline-block;
          padding: 0;

          font-weight: bold;
          font-size: rem-calc(15);
          line-height: rem-calc(24);
          color: black;
          text-transform: uppercase;

          // Rimuovo il triangolo a fianco della voce di menu
          &:after{ display: none !important; }

          &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: transparent;
            transition: all 0.3s ease-in-out;
          }

          &.is-active, &:hover{
            &:before{ background: white; }
          }
        }
      }
      ul:not(.is-dropdown-submenu) {
        display: none;
      }
    }

    // Menu di secondo livello
    ul.menu.is-dropdown-submenu{
      padding-top: 10px;
      padding-bottom: 10px;
      background: black;
      border: none;
      border-radius: 10px;

      > li{

        > a{
          padding: 5px 25px;

          font-weight: bold;
          font-size: rem-calc(13);
          line-height: rem-calc(20);
          color: white;
          text-transform: uppercase;

          // Rimuovo il triangolo a fianco della voce di menu
          &:after{ display: none !important; }
        }
      }
    }

    // Menu di terzo livello
    ul.menu.submenu.is-dropdown-submenu.vertical:not(.first-sub){
      > li > a{}
    }
  }

  // Per utente loggato (con eventuale headroom) (serve se menu fixed)
  /*@include breakpoint(large up){
    .toolbar-vertical &.headroom--top { top: 39px; }
    .mm-opening .toolbar-vertical &.headroom--top { top: 0; }
    .toolbar-fixed &, .toolbar-horizontal &, .toolbar-tray-open & { top: 39px; }
    .toolbar-horizontal.toolbar-tray-open & { top: 75px; }
    &.headroom--not-top{
      .toolbar-fixed &, .toolbar-horizontal &, .toolbar-tray-open & { top: 0; }
      .toolbar-horizontal.toolbar-tray-open & { top: 0; }
    }
  }*/

  @include breakpoint(medium down){}

  @include breakpoint(small down){}
}
