{% if messages and not zurb_foundation_messages_modal %}
<div class="l-messages grid-x grid-padding-x">
  <div class="cell large-12">
    {{ messages }}
  </div>
</div>
{% endif %}

{% if page.help %}
<div class="l-help grid-x grid-padding-x">
  <div class="cell large-12">
    {{ page.help }}
  </div>
</div>
{% endif %}
