{% if page.left_off_canvas %}
<aside id="left-off-canvas-menu" class="off-canvas left-off-canvas-menu position-left" role="complementary" data-off-canvas>
  {{ page.left_off_canvas }}
</aside>
{% endif %}

{% if page.right_off_canvas %}
  <aside id="right-off-canvas-menu" class="off-canvas right-off-canvas-menu position-right" role="complementary" data-off-canvas>
    {{ page.right_off_canvas }}
  </aside>
{% endif %}
