<footer class="pageFooter">

  {% if page.footer_sup %}
  <section class="footer-first">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          {{ page.footer_sup }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if page.footer %}
  <section class="footer-middle">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          {{ page.footer }}
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  {% if page.footer_sub %}
  <section class="footer-middle">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <div class="copy">
            &copy; {{ "now"|date('Y') }} {{ site_name }} {{ 'All rights reserved.'|t }}
          </div>
          <div class="menu">{{ page.footer_sub }}</div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

</footer>
