{% if page.meta_header %}
  {% if meta_header_grid %}
    <div class="grid-x grid-padding-x">
      <div class="cell large-12">
  {% endif %}

  {{ page.meta_header }}

  {% if meta_header_grid %}
      </div>
    </div>
  {% endif %}
{% endif %}

<header class="pageHeader" role="banner" aria-label="{{ 'Site header'|t }}">
  <div class="grid-x grid-padding-x">

    {% if linked_logo %}
      <div class="cell small-3 large-2">
        {% if linked_logo %}
          {{ linked_logo }}
        {% endif %}
      </div>
    {% endif %}
    {% if page.header %}
      <div class="cell small-8 large-10">
        {{ page.header }}
      </div>
    {% endif %}
    <div class="cell small-1 show-for-small-only">
      <div class="hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>

  </div>
</header>
