<div class="off-canvas-wrapper">
  <div class="inner-wrap off-canvas-wrapper-inner" id="inner-wrap" data-off-canvas-wrapper>

    {% include '@tecnoform/partial/asides.html.twig' %}
    {#  {{ mmenu_code|raw }} stampa il codice generato da tecnoform_preprocess_page(&$variables) / MenuMobile() per mostrare il menu mobile #}
    {{ mmenu_code|raw }}

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="grid-container">

        {# page.meta_header + logo + page.header #}
        {% include '@tecnoform/partial/header.html.twig' %}

        {# user links (login, user page, ...#}
        {% include '@tecnoform/partial/userinfo.html.twig' %}

        {# messages + page.help #}
        {% include '@tecnoform/partial/accessories.html.twig' %}

        <div class="grid-x grid-padding-x">
          <main id="main" class="{{ main_grid }} cell" role="main">
            {% if page.content_header %}
              {{ page.content_header }}
            {% endif %}

            {% if page.highlighted %}
              {% spaceless %}
                {{ page.highlighted }}
              {% endspaceless %}
            {% endif %}

            <a id="main-content"></a>
            {% if breadcrumb %} {{ breadcrumb }} {% endif %}

            <section>
              {{ page.content }}
            </section>
          </main>

          {% if page.sidebar_first %}
            <div id="sidebar-first" class="{{ sidebar_first_grid }} cell sidebar ">
              {{ page.sidebar_first }}
            </div>
          {% endif %}
        </div>

        {% include '@tecnoform/partial/footer.html.twig' %}

      </div>
    </div>
  </div>
</div>
