{##
 # Stampa il banner in alto sulla pagina
 # Definito in weevo_utils/Plugin/Block/BannerFullsizeBlock
#}
{% set classes = ['block', 'block-bannerFullSize', 'headerType-' ~ bannerType] %}
<section{{ attributes.addClass(classes) }}>

  {# Gestione immagine sfondo #}
  {% if attribute(urls, 'sm') != '' %}
    <div class="imgBanner divBg" data-interchange="[{{ attribute(urls, 'sm') }}, small], [{{ attribute(urls, 'md') }}, medium], [{{ attribute(urls, 'lg') }}, large]"></div>
  {% elseif defBg != '' %}
    <div class="imgBanner divBg" data-interchange="[{{ defBg }}, small]"></div>
  {% else %}
    <div class="imgBanner divBg noimage"></div>
  {% endif %}
  {# Fine gestione immagine sfondo #}

  {# Gestione del contenuto testuale #}
  <div class="txtBanner">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12">
          {{ pageTitle|raw }}
        </div>
      </div>
    </div>
  </div>
  {# Fine della gestione del contenuto testuale #}

</section>
