{##
 # Blocco GoogleMapsBlock
 #}
<div class="googleMapsWrapper">
{{ title_prefix }}
{{ title_suffix }}

  <div class="responsiveMap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11294.245475438216!2d10.6324325!3d44.9525841!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x36822788978c9834!2sSpecial%20Bearings%20Italy%20Srl!5e0!3m2!1sit!2sit!4v1617951907667!5m2!1sit!2sit"
            width="1920"
            height="390"
            frameborder="0"
            style="border:0;"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"></iframe>
  </div>

</div>
