// EU cookie compliance
div#sliding-popup{
  background: #CCC;

  .eu-cookie-compliance-message{
    width: calc(100% - 220px);
    max-width: 100%;
    margin: 5px 0 0;

    h2, p, a, .find-more-button{ color: red; }
  }

  .eu-cookie-compliance-buttons{
    width: 220px;
    max-width: 100%;
    margin: 5px 0 0;
    text-align: right;

    .eu-cookie-compliance-secondary-button,
    .eu-cookie-compliance-default-button{
      margin: 1rem 0 0 0;
      padding: 0 8px;
      background: none;
      cursor: pointer;
      border: none;
      vertical-align: middle;
      box-shadow: none;

      color: black;
      font-size: rem-calc(16);
      line-height: rem-calc(20);
      text-shadow: none;

      &:hover{ color: red; }
    }

    .eu-cookie-compliance-secondary-button{ font-weight: bold; }
    .eu-cookie-compliance-default-button{ font-weight: lighter; }
  }

  @include breakpoint(small only){
    .eu-cookie-compliance-message{
      width: 100%;
      margin: 10px 0;
    }
    .eu-cookie-compliance-buttons{
      width: 100%;
      margin: 0;
      text-align: center;
    }
  }
}
