#main.columns{
  a{ transition: all 0.3s ease; }
}

body.stopOverflow{ overflow-x: hidden; }
body.stopOverflowY{ overflow-y: hidden; }

// Per mmenu, file .css richiamato dal parent
.off-canvas{ display: none !important; }