@mixin icon($icon, $position:"before"){
  &:#{$position}{
    // @extend %iconbp:before;
    // @extend .bp-#{$icon}:before;
    @content;
  }
}

// COMPASS MIXINS
@mixin clearfix {
  overflow: hidden;
}

@mixin reset-box-model {
  margin: 0;
  padding: 0;
  border: 0;
}

@mixin horizontal-list-container {
  @include reset-box-model;
  @include clearfix;
}

@mixin inline-block-list-container {
  @include horizontal-list-container;
}

@mixin no-bullet {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

@mixin inline-block-list-item($padding: false) {
  @include no-bullet;
  display: inline-block;
  white-space: nowrap;
  @if $padding {
    padding: {
      left: $padding;
      right: $padding;
    };
  }
}

@mixin inline-block-list($padding: false) {
  @include inline-block-list-container;
  li {
    @include inline-block-list-item($padding);
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
